@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}
h1,
 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
a {
  color: #F74134;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  color: #0BAFA0;
  font-size: 50px;
  font-weight: 700;
  padding: 48px 20px;
}

.btn {
  cursor: pointer;
  padding: 10px 16px;
  display: inline-block;
  margin: 10px 20px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-border {
  border: 2px solid #0BAFA0;
  color: #0BAFA0;
  overflow: hidden;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}
.btn-border:hover,
.btn-border:active {
  color: #ffffff;
  background: #0BAFA0;
}
.btn-common {
  background: #0BAFA0;
}
#contact {
  background: #333;
  background-size: cover;
}
#contact .section-title span {
  color: #fff;
}
#contact .contact-form .controls {
  padding-bottom: 20px;
}
#contact .contact-form .controls input.contact_input {
  color: #000;
  background-color: #ffffff;
  float: left;
  border: 1px solid #0BAFA0;
  font-size: 14px;
  font-weight: 300;
  height: 48px;
  padding: 0 12px;
  width: 88%;
}
#contact .contact-form .controls i {
  font-size: 18px;
  color: #0BAFA0;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  padding: 12px;
  text-align: center;
  border: 1px solid #0BAFA0;
  border-left: none;
}
#contact .contact-form textarea {
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #0BAFA0;
  width: 100%;
  padding: 2% 3%;
  height: 185px;
  border-radius: 0px;
}
#contact .contact-form textarea:focus {
  box-shadow: none;
}
#contact .contact-form .btn {
  color: #ffffff;
  font-weight: 300;
  margin-top: 30px;
  font-size: 24px;
  width: 100%;
  margin: 20px 0;
}
#footer {
  background-color: #0BAFA0;
  width: 100%;
   border-top: 1px solid #ffffff;
  padding: 14px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}